* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #f5f5f5;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.padding-site {
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    padding-top: 50px;
    padding-bottom: 51px;
    background-color: #445162;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: left;
}

.menu {
    list-style: inside circle;
}

.menu li {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #ffffff;
}

.logo {
    background-color: #445162;
}

.logo img {
    border-radius: 5px;
}

.about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 51px;
}

.about h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    padding-bottom: 30px;
}

.about p {
    width: 653px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.about video {
    background-color: #445161;
    border-radius: 5px;
}

.dignity {
    padding-bottom: 51px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.dignity h3,
.scrinshots h3,
.reviews h3,
.buy_it h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 50px;
}

.pluses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pluses summary,
.pluses p {
    width: 573px;
    padding-top: 25px;
    padding-bottom: 14px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.pluses summary::-webkit-details-marker {
    display: none;
}

.pluses summary:before {
    border-radius: 5px;
    content: "+";
    color: #ffffff;
    display: block;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 10px 0 10px;
    text-align: center;
    width: 20px;
    background-color: #445161;
}

details[open] summary:before {
    content: "-";
}

.pluses summary:focus {
    outline: none;
}

.scrinshots {
    padding-bottom: 51px;
    box-sizing: border-box;
}

.scrinshots_position {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.scrinshots figure {
    width: 574px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.scrinshots figure img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    border-radius: 5px;
}

.scrinshots figcaption {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 15px;
}

.scrinshots p {
    width: 359px;
    text-align: justify;
    padding-left: 15px;
}

.reviews {
    padding-bottom: 51px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.reviews_position {
    display: flex;
    justify-content: space-between;
}

.reviews_point {
    width: 574px;
    display: flex;
    padding-top: 24px;
}

.reviews .reviews_point img {
    border-radius: 50%;
    background-color: #445161;
    width: 83px;
    height: 75px;
}

.reviews_itself {
    width: 483px;
    background-color: #ececec;
    padding: 16px 20px 16px 27px;
    margin-left: 16px;
    border-radius: 5px;
    position: relative;
}

.reviews_itself:before {
    content: "";
    border: 15px solid transparent;
    border-right: 15px solid #ececec;
    position: absolute;
    top: 20px;
    left: -30px;
}

.reviews_itself p {
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 15px;
    text-align: left;
}

.reviews_itself span {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    padding-top: 15px;
}

.buy_it {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.price-title {
    width: 100%;
}

.price-block {
    width: 300px;
    background-color: #425062;
    color: #ffffff;
    border: 1.6px solid #425062;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.price-block:nth-child(2) {
    align-self: flex-end;
    margin-right: 45px;
}

.price-block:nth-child(3) {
    align-self: flex-end;
    margin-right: 45px;
}

.price-block:last-child {
    align-self: flex-end;
}

.price-block h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 16px 0;
}

.price-block span {
    display: block;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    background-color: #ffffff;
    padding: 18px 0;
}

.price-block ul {
    padding-top: 19px;
}

.price-block li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 20px;

}

.price-block a {
    color: #445162;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 13px 112px 14px 111px;
    margin: 21px 20px 21px 20px;
}

.price-block a:hover {
    background-color: #445162;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.price-block a:active {
    background-color: #ffffff;
    color: #445162;
    border: 1px solid transparent;
}

.footer-top {
    color: #ffffff;
    background-color: #445162;
}

.footer-top h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 31px;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts form {
    width: 500px;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 5px;
    background-color: #ffffff;
    width: 490px;
    height: 40px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 21px;
    padding-left: 5px;
}

input:focus {
    outline: none;
}

textarea {
    border-radius: 5px;
    background-color: #ffffff;
    width: 490px;
    height: 170px;
    resize: none;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 5px;
}

textarea:focus {
    outline: none;
}

input[type="submit"] {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 21px;
    margin-left: 180px;
}

input[type="submit"]:hover {
    background-color: #445162;
    color: #ffffff;
    border: 1px solid #ffffff;
}

input[type="submit"]:active {
    background-color: #ffffff;
    color: #445162;
    border: 1px solid transparent;
}

.connections li {
    list-style-type: none;
    margin-bottom: 29px;
    margin-left: 46px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.social_links {
    width: 240px;
    margin-left: 46px;
}

.social_links a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}

.social_links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #f5f5f5;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
}
